force-app/main/default/flows/Campaign_Types_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Clicked_Lable</name>
        <label>Assign Clicked Lable</label>
        <locationX>770</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clicked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Response_Lable</name>
        <label>Assign Default Response Lable</label>
        <locationX>904</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>varResponseLable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultLable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Response_Lable_0</name>
        <label>Assign Default Response Lable</label>
        <locationX>1128</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>varResponseLable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultLable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Responded_Lable</name>
        <label>Assign Responded Lable</label>
        <locationX>643</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varResponseLable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Clicked_Lable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Viewed_Lable</name>
        <label>Assign Viewed Lable</label>
        <locationX>634</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>varResponseLable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Viewed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Clicked_Lable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invited_Registered_Declined_Attended_Did_not_Attend</name>
        <label>Invited, Registered, Declined, Attended, Did not Attend</label>
        <locationX>689</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Did Not Attend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_Response_Lable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sent_Clicked_Responded</name>
        <label>Sent, Clicked, Responded</label>
        <locationX>914</locationX>
        <locationY>1499</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Clicked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_Response_Lable_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Campaign_Type</name>
        <label>Check Campaign Type</label>
        <locationX>423</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising Google Ad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising LinkedIn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising e-publication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Printed Ad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Responded_Lable</targetReference>
            </connector>
            <label>Advertising</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Type_0</name>
        <label>Check Campaign Type</label>
        <locationX>418</locationX>
        <locationY>1288</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_RSVP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email RSVP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invited_Registered_Declined_Attended_Did_not_Attend</targetReference>
            </connector>
            <label>Email RSVP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Type_0_0</name>
        <label>Check Campaign Type</label>
        <locationX>420</locationX>
        <locationY>1510</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Autoresponder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Newsletter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Thought Leadership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email New Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Invitation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Clicked_Responded</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Type_0_0_0</name>
        <label>Check Campaign Type</label>
        <locationX>423</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising_YouTube</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising YouTube</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Viewed_Lable</targetReference>
            </connector>
            <label>Advertising YouTube</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Type_0_0_0_0</name>
        <label>Check Campaign Type</label>
        <locationX>423</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Social_Media</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media Organic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media Sponsored</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Responded_Lable</targetReference>
            </connector>
            <label>Social Media</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Type_0_0_0_0_0</name>
        <label>Check Campaign Type</label>
        <locationX>424</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_Survey_and_Event</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Responded_Lable</targetReference>
            </connector>
            <label>Website, Survey, and Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Type_0_0_0_0_0_0</name>
        <label>Check Campaign Type</label>
        <locationX>420</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Responded_Lable</targetReference>
            </connector>
            <label>NPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Type_0_0_0_0_0_0_0</name>
        <label>Check Campaign Type</label>
        <locationX>428</locationX>
        <locationY>1705</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Response_Lable_0</targetReference>
            </connector>
            <label>Email Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_List</name>
        <label>Check Status List</label>
        <locationX>1128</locationX>
        <locationY>895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_of_Status</targetReference>
            </connector>
            <label>Status is Not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>524</locationX>
        <locationY>95</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingStatus</targetReference>
            </connector>
            <label>Type Changed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckExistingStatus</name>
        <label>CheckExistingStatus</label>
        <locationX>524</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Type_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExistingStatus is Empty?</defaultConnectorLabel>
        <rules>
            <name>ExistingStatus_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteExistingStatus</targetReference>
            </connector>
            <label>ExistingStatus is Not Empty?</label>
        </rules>
    </decisions>
    <interviewLabel>Campaign - Types Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign - Types Changed</label>
    <loops>
        <name>Loop_of_Status</name>
        <label>Loop of Status</label>
        <locationX>1139</locationX>
        <locationY>1066</locationY>
        <collectionReference>Status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Campaign_Member_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member_Status</name>
        <label>Create Campaign Member Status</label>
        <locationX>1415</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>Loop_of_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Loop_of_Status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteExistingStatus</name>
        <label>DeleteExistingStatus</label>
        <locationX>278</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Check_Campaign_Type_0_0_0_0</targetReference>
        </connector>
        <inputReference>getExistingStatus</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getExistingStatus</name>
        <label>getExistingStatus</label>
        <locationX>750</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckExistingStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasResponded</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Response</name>
        <label>Update Response</label>
        <locationX>913</locationX>
        <locationY>1069</locationY>
        <connector>
            <targetReference>UpdateDefault</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasResponded</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>varResponseLable</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDefault</name>
        <label>Update Default</label>
        <locationX>921</locationX>
        <locationY>893</locationY>
        <connector>
            <targetReference>Check_Status_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>varDefaultLable</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordUpdates>
    <start>
        <locationX>73</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultLable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseLable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
