force-app/main/default/flows/Case_NPS_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter_NPS_Survey_Hierarchy_Not_Found</name>
        <label>Post to Chatter NPS Survey Hierarchy Not Found</label>
        <locationX>144</locationX>
        <locationY>525</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>NPS Survey Hierarchy Not Found. Escalation workflows will not be triggered.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_First_Escalation_Email</name>
        <label>Send First Escalation Email</label>
        <locationX>782</locationX>
        <locationY>84</locationY>
        <actionName>EmailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Case_First_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>ccIds</name>
            <value>
                <elementReference>First_Level_CC_Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toId</name>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_To__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>First_Escalation_Email_Template_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Second_Escalation_Email</name>
        <label>Send Second Escalation Email</label>
        <locationX>776</locationX>
        <locationY>374</locationY>
        <actionName>EmailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Case_Second_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>ccIds</name>
            <value>
                <elementReference>Second_Level_CC_Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toId</name>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_To__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Second_Escalation_Email_Template_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Case_First_Notification</name>
        <label>Assign Case First Notification</label>
        <locationX>924</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>Case_Record.First_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Record.First_Notification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_First_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Second_Notification</name>
        <label>Assign Case Second Notification</label>
        <locationX>921</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>Case_Record.Second_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Record.Second_Notification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Second_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Level_CC_Case_Share</name>
        <label>Assign First Level CC Case Share</label>
        <locationX>1720</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>Case_Share.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Level_CC_Recipient_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_First_Level_CC_Case_Shares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Level_CC_Case_Shares</name>
        <label>Assign First Level CC Case Shares</label>
        <locationX>1583</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>Case_Shares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_First_Level_CC_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Level_CC_Recipient_Ids</name>
        <label>Assign First Level CC Recipient Ids</label>
        <locationX>637</locationX>
        <locationY>84</locationY>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_Cc_10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_First_Escalation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Level_To_Case_Share</name>
        <label>Assign First Level To Case Share</label>
        <locationX>1186</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>Case_Share.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NPSMatrixRecord.First_Level_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_First_Level_To_Case_Shares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Level_To_Case_Shares</name>
        <label>Assign First Level To Case Shares</label>
        <locationX>1332</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>Case_Shares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_First_Level_CC_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Level_CC_Case_Share</name>
        <label>Assign Second Level CC Case Share</label>
        <locationX>1729</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>Case_Share.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Second_Level_CC_Recipient_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Second_Level_CC_Case_Shares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Level_CC_Case_Shares</name>
        <label>Assign Second Level CC Case Shares</label>
        <locationX>1595</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>Case_Shares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Second_Level_CC_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Level_CC_Recipient_Ids</name>
        <label>Assign Second Level CC Recipient Ids</label>
        <locationX>630</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_Level_CC_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_Cc_10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Second_Escalation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Level_To_Case_Share</name>
        <label>Assign Second Level To Case Share</label>
        <locationX>1191</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>Case_Share.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NPSMatrixRecord.Second_Level_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Second_Level_To_Case_Shares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Level_To_Case_Shares</name>
        <label>Assign Second Level To Case Shares</label>
        <locationX>1334</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>Case_Shares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Second_Level_CC_Recipients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Assign_First_Level_Case_Share</name>
        <label>Decision Assign First Level Case Share</label>
        <locationX>1454</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Level_Recipient_Id_has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Level_CC_Recipient_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Level_CC_Case_Share</targetReference>
            </connector>
            <label>First Level Recipient Id has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Assign_Second_Level_Case_Share</name>
        <label>Decision Assign Second Level Case Share</label>
        <locationX>1459</locationX>
        <locationY>536</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Second_Level_Recipient_Id_has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Second_Level_CC_Recipient_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Second_Level_CC_Case_Share</targetReference>
            </connector>
            <label>Second Level Recipient Id has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPS_Escalation_Matrix_Decision</name>
        <label>NPS Escalation Matrix Decision</label>
        <locationX>271</locationX>
        <locationY>95</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Notification_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.First_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Escalation_Email_Template</targetReference>
            </connector>
            <label>First Notification Outcome</label>
        </rules>
        <rules>
            <name>Second_Notification_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.First_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.Second_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Second_Escalation_Email_Template</targetReference>
            </connector>
            <label>Second Notification Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPS_Escalation_Matrix_Decision_0</name>
        <label>NPS Escalation Matrix Decision</label>
        <locationX>135</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>NPS_Escalation_Matrix_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NPS_Escalation_Matrix_not_found_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NPSMatrixRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_NPS_Survey_Hierarchy_Not_Found</targetReference>
            </connector>
            <label>NPS Escalation Matrix not found Outcome</label>
        </rules>
    </decisions>
    <description>To not query the case if it is closed.</description>
    <interviewLabel>Case - NPS Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - NPS Escalation</label>
    <loops>
        <name>Loop_First_Level_CC_Recipients</name>
        <label>Loop First Level CC Recipients</label>
        <locationX>1458</locationX>
        <locationY>86</locationY>
        <assignNextValueToReference>First_Level_CC_Recipient_Id</assignNextValueToReference>
        <collectionReference>First_Level_CC_Recipient_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Assign_First_Level_Case_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_First_Level_Manual_Case_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Second_Level_CC_Recipients</name>
        <label>Loop Second Level CC Recipients</label>
        <locationX>1465</locationX>
        <locationY>375</locationY>
        <assignNextValueToReference>Second_Level_CC_Recipient_Id</assignNextValueToReference>
        <collectionReference>Second_Level_CC_Recipient_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Assign_Second_Level_Case_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Second_Level_Manual_Case_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_First_Level_Manual_Case_Shares</name>
        <label>Create First Level Manual Case Shares</label>
        <locationX>1721</locationX>
        <locationY>84</locationY>
        <inputReference>Case_Shares</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Second_Level_Manual_Case_Shares</name>
        <label>Create Second Level Manual Case Shares</label>
        <locationX>1718</locationX>
        <locationY>372</locationY>
        <inputReference>Case_Shares</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>142</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NPS_Matrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>First_Notification__c</queriedFields>
        <queriedFields>Second_Notification__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Base_URL__c</queriedFields>
        <queriedFields>Contact_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Escalation_Email_Template</name>
        <label>Get First Escalation Email Template</label>
        <locationX>488</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Level_CC_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_NPS_Survey_1st_Level_Escalation</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>First_Escalation_Email_Template_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NPS_Matrix</name>
        <label>Get NPS Matrix</label>
        <locationX>143</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NPS_Escalation_Matrix_Decision_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Area_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>NPS_Case_Escalation_Hierarchy__c</object>
        <outputReference>NPSMatrixRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Level_To__c</queriedFields>
        <queriedFields>Second_Level_To__c</queriedFields>
        <queriedFields>First_Level_Cc_1__c</queriedFields>
        <queriedFields>First_Level_Cc_2__c</queriedFields>
        <queriedFields>First_Level_Cc_3__c</queriedFields>
        <queriedFields>First_Level_Cc_4__c</queriedFields>
        <queriedFields>First_Level_Cc_5__c</queriedFields>
        <queriedFields>First_Level_Cc_6__c</queriedFields>
        <queriedFields>First_Level_Cc_7__c</queriedFields>
        <queriedFields>Second_Level_Cc_1__c</queriedFields>
        <queriedFields>Second_Level_Cc_2__c</queriedFields>
        <queriedFields>Second_Level_Cc_3__c</queriedFields>
        <queriedFields>Second_Level_Cc_4__c</queriedFields>
        <queriedFields>Second_Level_Cc_5__c</queriedFields>
        <queriedFields>Second_Level_Cc_6__c</queriedFields>
        <queriedFields>Second_Level_Cc_7__c</queriedFields>
        <queriedFields>First_Level_Cc_8__c</queriedFields>
        <queriedFields>First_Level_Cc_9__c</queriedFields>
        <queriedFields>First_Level_Cc_10__c</queriedFields>
        <queriedFields>Second_Level_Cc_8__c</queriedFields>
        <queriedFields>Second_Level_Cc_9__c</queriedFields>
        <queriedFields>Second_Level_Cc_10__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Second_Escalation_Email_Template</name>
        <label>Get Second Escalation Email Template</label>
        <locationX>489</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Second_Level_CC_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_NPS_Survey_2nd_Level_Escalation</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>Second_Escalation_Email_Template_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_First_Notification</name>
        <label>Update Case First Notification</label>
        <locationX>1057</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Assign_First_Level_To_Case_Share</targetReference>
        </connector>
        <inputReference>Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Second_Notification</name>
        <label>Update Case Second Notification</label>
        <locationX>1058</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Assign_Second_Level_To_Case_Share</targetReference>
        </connector>
        <inputReference>Case_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>Case_Shares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Custom_Notification_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Escalation_Email_Template_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Level_CC_Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Level_CC_Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPSMatrixRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NPS_Case_Escalation_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>Second_Escalation_Email_Template_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Second_Level_CC_Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Second_Level_CC_Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
