force-app/main/default/flows/Case_Default_Team_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Default_Custom_Notification</name>
        <label>Default Custom Notification</label>
        <locationX>1231</locationX>
        <locationY>182</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Decision_Send_Detractor_Email</targetReference>
        </connector>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Default_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Default_Notification_Body_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Default_Recipient_Ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Detractor_Custom_Notification</name>
        <label>Detractor Custom Notification</label>
        <locationX>1246</locationX>
        <locationY>538</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Detractor_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Detractor_Notification_Body_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Detractor_Receipient_Ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Default_Case_Team</name>
        <label>Send Email to Default Case Team</label>
        <locationX>1234</locationX>
        <locationY>32</locationY>
        <actionName>Case.Case_NPS_Survey_Notify_Default_Case_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Default_Custom_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Detractor_Case_Team</name>
        <label>Send Email to Detractor Case Team</label>
        <locationX>1243</locationX>
        <locationY>379</locationY>
        <actionName>Case.Case_NPS_Survey_Notify_Detractor_Case_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Detractor_Custom_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Default</name>
        <label>Assign Default</label>
        <locationX>625</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>Default_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DefaultCaseTeam.Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Default_Case_Team_Member.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultCaseTeam.Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Default_Case_Team_Member.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NPS_Default_Case_Team_Role_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Default_Case_Team_Member.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_Case_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Case_Team_Member</name>
        <label>Assign Default Case Team Member</label>
        <locationX>624</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>Default_Case_Team_Members</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Default_Case_Team_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Detractor</name>
        <label>Assign Detractor</label>
        <locationX>330</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Detractor_Receipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DefaultCaseTeam.Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Detractor_Case_Team_Member.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultCaseTeam.Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Detractor_Case_Team_Member.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NPS_Detractor_Case_Team_Role_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Detractor_Case_Team_Member.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Detractor_Case_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Detractor_Case_Team_Member</name>
        <label>Assign Detractor Case Team Member</label>
        <locationX>323</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>Detractor_Case_Team_Members</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Detractor_Case_Team_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_Team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Notification_Type</name>
        <label>Decision_Notification_Type</label>
        <locationX>441</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>Loop_Case_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_is_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultCaseTeam.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default</targetReference>
            </connector>
            <label>Type is Default</label>
        </rules>
        <rules>
            <name>Type_is_Detractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultCaseTeam.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.NPS_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Detractor</targetReference>
            </connector>
            <label>Type is Detractor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Send_Default_Email</name>
        <label>Decision Send Default Email</label>
        <locationX>789</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>Decision_Send_Detractor_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DefaultEmailList_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Default_Recipient_Ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Default_Case_Team_Member</targetReference>
            </connector>
            <label>DefaultEmailList Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Send_Detractor_Email</name>
        <label>Decision Send Detractor Email</label>
        <locationX>787</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DetractorEmailList_Empty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Detractor_Receipient_Ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Detractor_Case_Team_Members</targetReference>
            </connector>
            <label>DetractorEmailList Empty?</label>
        </rules>
    </decisions>
    <interviewLabel>Case - Default Team Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Default Team Notification</label>
    <loops>
        <name>Loop_Case_Team</name>
        <label>Loop Case Team</label>
        <locationX>453</locationX>
        <locationY>31</locationY>
        <assignNextValueToReference>DefaultCaseTeam</assignNextValueToReference>
        <collectionReference>DefaultCaseTeamRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Notification_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Send_Default_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Default_Case_Team_Member</name>
        <label>Create Default Case Team Member</label>
        <locationX>1039</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Send_Email_to_Default_Case_Team</targetReference>
        </connector>
        <inputReference>Default_Case_Team_Members</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Detractor_Case_Team_Members</name>
        <label>Create Detractor Case Team Members</label>
        <locationX>1045</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Send_Email_to_Detractor_Case_Team</targetReference>
        </connector>
        <inputReference>Detractor_Case_Team_Members</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>197</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Case_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>First_Notification__c</queriedFields>
        <queriedFields>Second_Notification__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Base_URL__c</queriedFields>
        <queriedFields>Contact_Name__c</queriedFields>
        <queriedFields>NPS_Score__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>198</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Case_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All_Notification_Channels</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>Custom_Notification_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Case_Team</name>
        <label>Get Default Case Team</label>
        <locationX>197</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NPS_Default_Team_Member_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>Default_Case_Team__c</object>
        <outputReference>DefaultCaseTeamRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Member_Email__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Member__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NPS_Default_Team_Member_Role</name>
        <label>Get NPS Default Team Member Role</label>
        <locationX>197</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NPS_Detractor_Team_Member_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPS Default</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>NPS_Default_Case_Team_Role_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NPS_Detractor_Team_Member_Role</name>
        <label>Get NPS Detractor Team Member Role</label>
        <locationX>199</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPS Detractor</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>NPS_Detractor_Case_Team_Role_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>42</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Default_Notification_Body_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case # {!Case_Record.CaseNumber}: has been created.</text>
    </textTemplates>
    <textTemplates>
        <name>Detractor_Notification_Body_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case # {!Case_Record.CaseNumber}: has been created with a detractor score.</text>
    </textTemplates>
    <variables>
        <name>Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Custom_Notification_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Default_Case_Team_Member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>Default_Case_Team_Members</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>Default_Notification_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Case Notification</stringValue>
        </value>
    </variables>
    <variables>
        <name>Default_Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultCaseTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Default_Case_Team__c</objectType>
    </variables>
    <variables>
        <name>DefaultCaseTeamRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Default_Case_Team__c</objectType>
    </variables>
    <variables>
        <name>Detractor_Case_Team_Member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>Detractor_Case_Team_Members</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>Detractor_Notification_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case Notification</stringValue>
        </value>
    </variables>
    <variables>
        <name>Detractor_Receipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPS_Default_Case_Team_Role_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPS_Detractor_Case_Team_Role_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPSMatrixRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NPS_Case_Escalation_Hierarchy__c</objectType>
    </variables>
</Flow>
