force-app/main/default/flows/Contact_Create_NPS_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Survey_Response</name>
        <label>Assign Survey Response</label>
        <locationX>284</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_1</name>
        <label>Assign Survey Response 1</label>
        <locationX>429</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_1_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_1_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_10</name>
        <label>Assign Survey Response 10</label>
        <locationX>1976</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_10_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_10_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 10</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agree_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_11</name>
        <label>Assign Survey Response 11</label>
        <locationX>2153</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_11_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_11_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 11</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agree_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_12</name>
        <label>Assign Survey Response 12</label>
        <locationX>2339</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Answer_12__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 12</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_2</name>
        <label>Assign Survey Response 2</label>
        <locationX>588</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_2_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_2_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poor_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_3</name>
        <label>Assign Survey Response 3</label>
        <locationX>766</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_3_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_3_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poor_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_4</name>
        <label>Assign Survey Response 4</label>
        <locationX>934</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_4_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_4_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poor_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_5</name>
        <label>Assign Survey Response 5</label>
        <locationX>1113</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_5_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_5_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poor_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_6</name>
        <label>Assign Survey Response 6</label>
        <locationX>1272</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_6_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_6_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poor_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_7</name>
        <label>Assign Survey Response 7</label>
        <locationX>1456</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_7_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_7_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poor_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_8</name>
        <label>Assign Survey Response 8</label>
        <locationX>1616</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_8_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_8_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poor_Help_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Response_9</name>
        <label>Assign Survey Response 9</label>
        <locationX>1789</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>Survey_Response.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Answer_9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response 9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Help_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_Response.Score__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Responses_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses</name>
        <label>Assign Survey Responses</label>
        <locationX>430</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0</name>
        <label>Assign Survey Responses</label>
        <locationX>589</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>768</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>936</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>1113</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>1272</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>1458</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>1616</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>1796</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>1976</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>2163</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Response_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Responses_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Survey Responses</label>
        <locationX>2338</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>Survey_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Survey_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Status_In_Process</name>
        <label>Case Status = In Process</label>
        <locationX>41</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>Case_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_NPS_Score</name>
        <label>Check NPS Score</label>
        <locationX>156</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NPS Score less than 7</defaultConnectorLabel>
        <rules>
            <name>NPS_Score_greater_than_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_1_Num</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_In_Process</targetReference>
            </connector>
            <label>NPS Score greater than 7</label>
        </rules>
    </decisions>
    <description>Create Case of type NPS and related survey response when the contact has latest survey populated from Pardot.  [Delete Question And Total Score field]</description>
    <formulas>
        <name>Agree_Help_Text</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Agree_Help_Text__c}</expression>
    </formulas>
    <formulas>
        <name>Answer_10_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_10__c}),0,Value({!Contact.Answer_10__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_11_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_11__c}),0,Value({!Contact.Answer_11__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_1_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_1__c}),0,Value({!Contact.Answer_1__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_2_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_2__c}),0,Value({!Contact.Answer_2__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_3_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_3__c}),0,Value({!Contact.Answer_3__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_4_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_4__c}),0,Value({!Contact.Answer_4__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_5_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_5__c}),0,Value({!Contact.Answer_5__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_6_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_6__c}),0,Value({!Contact.Answer_6__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_7_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_7__c}),0,Value({!Contact.Answer_7__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Answer_8_Num</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Contact.Answer_8__c}),0,Value({!Contact.Answer_8__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Poor_Help_Text</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Poor_Help_Text__c}</expression>
    </formulas>
    <formulas>
        <name>Question_1</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_1__c}</expression>
    </formulas>
    <formulas>
        <name>Question_10</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_10__c}</expression>
    </formulas>
    <formulas>
        <name>Question_11</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_11__c}</expression>
    </formulas>
    <formulas>
        <name>Question_12</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_12__c}</expression>
    </formulas>
    <formulas>
        <name>Question_2</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_2__c}</expression>
    </formulas>
    <formulas>
        <name>Question_3</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_3__c}</expression>
    </formulas>
    <formulas>
        <name>Question_4</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_4__c}</expression>
    </formulas>
    <formulas>
        <name>Question_5</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_5__c}</expression>
    </formulas>
    <formulas>
        <name>Question_6</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_6__c}</expression>
    </formulas>
    <formulas>
        <name>Question_7</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_7__c}</expression>
    </formulas>
    <formulas>
        <name>Question_8</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Survey_Help_Text__c.Question_8__c}</expression>
    </formulas>
    <formulas>
        <name>Question_9</name>
        <dataType>String</dataType>
        <expression>IF({!Answer_1_Num} &gt;= 9, {!$Setup.Survey_Help_Text__c.Question_9a__c}, {!$Setup.Survey_Help_Text__c.Question_9b__c})</expression>
    </formulas>
    <interviewLabel>Contact - Create NPS Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Create NPS Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>275</locationX>
        <locationY>628</locationY>
        <assignRecordIdToReference>Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Survey_Response</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Contact.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Score__c</field>
            <value>
                <elementReference>Answer_1_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NPS_Case_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Case_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Date__c</field>
            <value>
                <elementReference>Contact.Survey_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Responses</name>
        <label>Create Survey Responses</label>
        <locationX>2528</locationX>
        <locationY>238</locationY>
        <inputReference>Survey_Responses</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>168</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NPS_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Answer_1__c</queriedFields>
        <queriedFields>Answer_2__c</queriedFields>
        <queriedFields>Answer_3__c</queriedFields>
        <queriedFields>Answer_4__c</queriedFields>
        <queriedFields>Answer_5__c</queriedFields>
        <queriedFields>Answer_6__c</queriedFields>
        <queriedFields>Answer_7__c</queriedFields>
        <queriedFields>Answer_8__c</queriedFields>
        <queriedFields>Answer_9__c</queriedFields>
        <queriedFields>Answer_10__c</queriedFields>
        <queriedFields>Answer_11__c</queriedFields>
        <queriedFields>Answer_12__c</queriedFields>
        <queriedFields>Survey_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NPS_Case_Record_Type</name>
        <label>Get NPS Case Record Type</label>
        <locationX>166</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NPS_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NPS_Case_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPS_Case_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Survey_Response</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
    <variables>
        <name>Survey_Responses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
</Flow>
