force-app/main/default/flows/Direct_Quote_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Task_Field_Assignment</name>
        <label>Task Field Assignment</label>
        <locationX>375</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_ID.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Date_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote Created from Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_ID.Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppOwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Direct_Quote_Task</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>&quot;Quotation was created in SAP  (&quot;+{!Get_Quote_ID.Opportunity.Name}+&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Direct Quote Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Direct Quote Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Direct_Quote_Task</name>
        <label>Direct Quote Task</label>
        <locationX>566</locationX>
        <locationY>385</locationY>
        <inputReference>TaskRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_ID</name>
        <label>Get Quote ID</label>
        <locationX>183</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Field_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>57</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Get_Quote_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QuoteCreated</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Quote Created&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
