force-app/main/default/flows/Email_Message_Assign_Opportunity_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_Email_Address</name>
        <label>Split Email Address</label>
        <locationX>178</locationX>
        <locationY>409</locationY>
        <actionName>FlowHelper_SplitString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Email_Has_Value</targetReference>
        </connector>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unique</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>Get_Email_Message_Relation_Record.ToAddress</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Email</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Active_Contact</name>
        <label>Add Active Contact</label>
        <locationX>487</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>ActiveContactRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_OppContactRoleRecords</name>
        <label>Add to OppContactRoleRecords</label>
        <locationX>1569</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>OppContactRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Contact_Role</name>
        <label>Assign Opp Contact Role</label>
        <locationX>911</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>OppContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Contact_Role_Existing_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Checkbox</name>
        <label>Reset Checkbox</label>
        <locationX>897</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_OppContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Checkbox</name>
        <label>Set Checkbox</label>
        <locationX>1415</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_OppContactRole</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Contact_Detail</name>
        <label>Active Contact Decision</label>
        <locationX>755</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Contacts</targetReference>
            </connector>
            <label>Is Contact Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Decision</name>
        <label>Contact Decision</label>
        <locationX>480</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>Loop_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact is Inactive?</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Active_Contact</targetReference>
            </connector>
            <label>Contact is Active?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Message_Relation_Decision</name>
        <label>Email Message Relation Decision</label>
        <locationX>406</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Contact_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Message_Relation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Email_Address</targetReference>
            </connector>
            <label>Related Contact is not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Decision</name>
        <label>Found Decision</label>
        <locationX>1226</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>Loop_Active_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicated</defaultConnectorLabel>
        <rules>
            <name>New_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_OppContactRoleRecords</targetReference>
            </connector>
            <label>New Contact Role?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Email_Has_Value</name>
        <label>If Email Has Value</label>
        <locationX>169</locationX>
        <locationY>599</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Email_Address</targetReference>
            </connector>
            <label>Has Email?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Contact_Role_Existing_Decision</name>
        <label>Opp Contact Role Existing Decision</label>
        <locationX>905</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Add_to_OppContactRoleRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing OppConatctRole Empty</defaultConnectorLabel>
        <rules>
            <name>Opp_Contact_Role_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Contact_Role_Existing_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Checkbox</targetReference>
            </connector>
            <label>Opp Contact Role Existing?</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppContactRole_Duplicated_Decision</name>
        <label>OppContactRole Duplicated Decision</label>
        <locationX>1266</locationX>
        <locationY>1091</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_OppContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Duplicated</defaultConnectorLabel>
        <rules>
            <name>OppContactRole_Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_OppContactRole.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OppContactRole.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Checkbox</targetReference>
            </connector>
            <label>OppContactRole Duplicated?</label>
        </rules>
    </decisions>
    <interviewLabel>Email Message Assign Opportunity Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message Assign Opportunity Contact Role</label>
    <loops>
        <name>Loop_Active_Contacts</name>
        <label>Loop Active Contacts</label>
        <locationX>936</locationX>
        <locationY>202</locationY>
        <collectionReference>ActiveContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_OppContactRoleRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Email_Address</name>
        <label>Loop Email Address</label>
        <locationX>304</locationX>
        <locationY>715</locationY>
        <collectionReference>Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Active_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opp_Contact_Role_Existing_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_OppContactRole</name>
        <label>Loop Existing OppContactRole</label>
        <locationX>898</locationX>
        <locationY>946</locationY>
        <collectionReference>Get_Opp_Contact_Role_Existing_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OppContactRole_Duplicated_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_OppContactRoleRecords</name>
        <label>Insert OppContactRoleRecords</label>
        <locationX>1383</locationX>
        <locationY>191</locationY>
        <inputReference>OppContactRoleRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Contacts</name>
        <label>Get Active Contacts</label>
        <locationX>184</locationX>
        <locationY>965</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Email_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Message_Relation_Record</name>
        <label>Get Email Message Relation Record</label>
        <locationX>413</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message_Relation_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessageID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Contact_Role_Existing_Records</name>
        <label>Get Opp Contact Role Existing Records</label>
        <locationX>606</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Contact_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>27</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Get_Email_Message_Relation_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailMessageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OppContactRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
