force-app/main/default/flows/Event_Assign_Contact_Role_for_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Active_Contact_Records</name>
        <label>Add Active Contact Records</label>
        <locationX>601</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>ActiveContactRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Event_Who_Relation_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_OppConatctRoleRecords</name>
        <label>Add to OppConatctRoleRecords</label>
        <locationX>1328</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>OppContactRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ActiveContactRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Contact_Role</name>
        <label>Assign Opp Contact Role</label>
        <locationX>921</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>OppContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ActiveContactRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Conatct_Role_Existing_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Checkbox</name>
        <label>Reset Checkbox</label>
        <locationX>917</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_OppContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Checkbox</name>
        <label>Set Checkbox</label>
        <locationX>1312</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Conatct_Decision</name>
        <label>Active Conatct Decision</label>
        <locationX>734</locationX>
        <locationY>167</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Conatct_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ActiveContactRecords</targetReference>
            </connector>
            <label>Active Conatct is not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Decision</name>
        <label>Contact Decision</label>
        <locationX>418</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Loop_Event_Who_Relation_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact is Inactive?</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Active_Contact_Records</targetReference>
            </connector>
            <label>Contact is Active?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Who_Relation_Decision</name>
        <label>Event Who Relation Decision</label>
        <locationX>414</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Conatct_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Who_Relation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Event_Who_Relation_1</targetReference>
            </connector>
            <label>Related Conatct is not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Decision</name>
        <label>Found Decision</label>
        <locationX>1122</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Loop_ActiveContactRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicated</defaultConnectorLabel>
        <rules>
            <name>New_Conatct_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_OppConatctRoleRecords</targetReference>
            </connector>
            <label>New Conatct Role?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Conatct_Role_Existing_Decision</name>
        <label>Opp Conatct Role Existing Decision</label>
        <locationX>911</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Add_to_OppConatctRoleRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing OppConatctRole Empty</defaultConnectorLabel>
        <rules>
            <name>Opp_Conatct_Role_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Contact_Role_Existing_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Checkbox</targetReference>
            </connector>
            <label>Opp Conatct Role Existing?</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppConatctRole_Duplicated_Decision</name>
        <label>OppConatctRole Duplicated Decision</label>
        <locationX>1042</locationX>
        <locationY>895</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_OppContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Duplicated</defaultConnectorLabel>
        <rules>
            <name>OppConatctRole_Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_OppContactRole.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OppContactRole.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Checkbox</targetReference>
            </connector>
            <label>OppConatctRole Duplicated?</label>
        </rules>
    </decisions>
    <description>V.2</description>
    <interviewLabel>Event - Assign Contact Role for Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Assign Contact Role for Scheduler</label>
    <loops>
        <name>Loop_ActiveContactRecords</name>
        <label>Loop ActiveContactRecords</label>
        <locationX>924</locationX>
        <locationY>171</locationY>
        <collectionReference>ActiveContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_OppConatctRoleRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Event_Who_Relation_1</name>
        <label>Loop Event Who Relation 1</label>
        <locationX>425</locationX>
        <locationY>465</locationY>
        <collectionReference>Get_Event_Who_Relation_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Active_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opp_Contact_Role_Existing_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_OppContactRole</name>
        <label>Loop Existing OppContactRole</label>
        <locationX>915</locationX>
        <locationY>750</locationY>
        <collectionReference>Get_Opp_Contact_Role_Existing_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OppConatctRole_Duplicated_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_OppConatctRoleRecords</name>
        <label>Insert OppConatctRoleRecords</label>
        <locationX>1293</locationX>
        <locationY>158</locationY>
        <inputReference>OppContactRoleRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Contacts</name>
        <label>Get Active Contacts</label>
        <locationX>261</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Event_Who_Relation_1.RelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Who_Relation_Record</name>
        <label>Get Event Who Relation Record</label>
        <locationX>426</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Who_Relation_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventWhoRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelationId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Contact_Role_Existing_Records</name>
        <label>Get Opp Contact Role Existing Records</label>
        <locationX>595</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Conatct_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Get_Event_Who_Relation_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OppContactRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
