force-app/main/default/flows/Lead_Remove_All_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Result_Deleted_Lead_Team</name>
        <label>Assign Result Deleted Lead Team</label>
        <locationX>646</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Lead Team members removed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_Fault</name>
        <label>Assign Result Fault</label>
        <locationX>512</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_No_Lead_Team</name>
        <label>Assign Result No Lead Team</label>
        <locationX>243</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is no Lead Team to remove.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Has_Lead_Team</name>
        <label>Decision Has Lead Team</label>
        <locationX>382</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Assign_Result_No_Lead_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Lead_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Teams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Lead_Teams</targetReference>
            </connector>
            <label>Outcome Has Lead Team</label>
        </rules>
    </decisions>
    <interviewLabel>Lead - Remove All Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Remove All Team Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Lead_Teams</name>
        <label>Delete Lead Teams</label>
        <locationX>645</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>Assign_Result_Deleted_Lead_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <inputReference>Lead_Teams</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Lead_Team</name>
        <label>Get Lead Team</label>
        <locationX>390</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Lead_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <object>Lead_Team__c</object>
        <outputReference>Lead_Teams</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Get_Lead_Team</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Is_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Team__c</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
