force-app/main/default/flows/Opportunity_GBP_500k_Send_Email_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Noti_to_OppOwner</name>
        <label>Email Noti to OppOwner</label>
        <locationX>728</locationX>
        <locationY>444</locationY>
        <actionName>Opportunity.Rename_ECC_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_OppOwnerId</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Noti_to_Opp_Owner</name>
        <label>Send Noti to Opp Owner</label>
        <locationX>728</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Clear_OppOwnerId</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Please Rename Your Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OppOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_OppOwnerId</name>
        <label>Assign OppOwnerId</label>
        <locationX>728</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>OppOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Noti_to_Opp_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_OppOwnerId</name>
        <label>Clear OppOwnerId</label>
        <locationX>728</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>OppOwnerId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OppOwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Opportunity - GBP 500k Send Email Daily {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - GBP 500k Send Email Daily</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Custom_Notification_Type</name>
        <label>get Custom Notification Type</label>
        <locationX>728</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Noti_to_OppOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All_Notification_Channels</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>599</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>ECC</stringValue>
            </value>
        </filters>
        <filters>
            <field>GBP_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>500000.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-05</startDate>
            <startTime>20:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Opportunity needs to be renamed:

Opportunity Name: {!$Record.Name}

Please update your Opportunity from the default ECC - XXXXXXXXXX to the following standard naming convention for Opportunities:

Site name - scope of work (- optional to add any other relevant reference)</text>
    </textTemplates>
    <variables>
        <name>OppOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Custom_Notification_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
