force-app/main/default/flows/Opportunity_Populate_Shipping_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Account_Address_Count</name>
        <label>Assign Account Address Count</label>
        <locationX>452</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Account_Address_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Account_Addresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Account_Address_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Address_to_Opportunity</name>
        <label>Assign Address to Opportunity</label>
        <locationX>955</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Shipping_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Account_Address_Count</name>
        <label>Decision Account Address Count</label>
        <locationX>679</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Account_has_one_address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Address_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Address</targetReference>
            </connector>
            <label>Outcome Account has one address</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - Populate Shipping Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Populate Shipping Address</label>
    <loops>
        <name>Loop_Account_Address</name>
        <label>Loop Account Address</label>
        <locationX>952</locationX>
        <locationY>57</locationY>
        <assignNextValueToReference>Account_Address</assignNextValueToReference>
        <collectionReference>Account_Addresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Address_to_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Addresses</name>
        <label>Get Account Addresses</label>
        <locationX>234</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Address_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>Account_Addresses</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1219</locationX>
        <locationY>59</locationY>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Addresses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Account_Address_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Account_Addresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
