force-app/main/default/flows/Order_Add_Default_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Default_to_Existing_Order_Team</name>
        <label>Assign Default to Existing Order Team</label>
        <locationX>1715</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>Is_Existing_Order_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Teams.Team_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Default_Order_Teams.Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Teams.Order_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Default_Order_Teams.Order_Access__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Order_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Order_Teams</name>
        <label>Assign Existing Order Teams</label>
        <locationX>1509</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>Existing_Order_Teams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Teams</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Existing_Order_Team</name>
        <label>Assign Is Existing Order Team</label>
        <locationX>1325</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Is_Existing_Order_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Order_Team</name>
        <label>Assign New Order Team</label>
        <locationX>1050</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>New_Order_Team.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Order_Team.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Default_Order_Teams.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Order_Team.Order_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Default_Order_Teams.Order_Access__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Order_Team.Team_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Default_Order_Teams.Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Order_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Order_Teams</name>
        <label>Assign New Order Teams</label>
        <locationX>862</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>New_Order_Teams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Order_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Default_Order_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result_Created_Default_Team</name>
        <label>Assign Result Created Default Team</label>
        <locationX>1382</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner’s default Order Team was added</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_Fault</name>
        <label>Assign Result Fault</label>
        <locationX>832</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_No_Default_Team</name>
        <label>Assign Result No Default Team</label>
        <locationX>709</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner does not have a default Order Team.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Default_Order_Team_Enabled</name>
        <label>Decision Default Order Team Enabled</label>
        <locationX>449</locationX>
        <locationY>435</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Default_Order_Team_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Default_Order_Team_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Order_Team</targetReference>
            </connector>
            <label>Outcome Default Order Team Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Default_Order_Team</name>
        <label>Decision Has Default Order Team</label>
        <locationX>702</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Result_No_Default_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Default_Order_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Default_Order_Teams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Team</targetReference>
            </connector>
            <label>Outcome Has Default Order Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Existing_Order_Team</name>
        <label>Decision Has Existing Order Team</label>
        <locationX>1707</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Existing_Order_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Teams.Team_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Default_Order_Teams.Team_Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_to_Existing_Order_Team</targetReference>
            </connector>
            <label>Outcome Has Existing Order Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Order_Team</name>
        <label>Decision Has Order Team</label>
        <locationX>1159</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Order_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Order_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Teams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Existing_Order_Team</targetReference>
            </connector>
            <label>Outcome Has Order Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Automated</name>
        <label>Decision Is Automated</label>
        <locationX>448</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Order_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Is_Automated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Automated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Setting</targetReference>
            </connector>
            <label>Outcome Is Automated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Not_Existing_Order_Team</name>
        <label>Decision Is Not Existing Order Team</label>
        <locationX>1331</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Loop_Default_Order_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Is_Not_Existing_Order_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Existing_Order_Team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Order_Team</targetReference>
            </connector>
            <label>Outcome Is Not Existing Order Team</label>
        </rules>
    </decisions>
    <interviewLabel>Order - Add Default Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Add Default Team</label>
    <loops>
        <name>Loop_Default_Order_Teams</name>
        <label>Loop Default Order Teams</label>
        <locationX>950</locationX>
        <locationY>275</locationY>
        <collectionReference>Default_Order_Teams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Has_Order_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Teams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Teams</name>
        <label>Loop Order Teams</label>
        <locationX>1505</locationX>
        <locationY>272</locationY>
        <collectionReference>Order_Teams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Has_Existing_Order_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Is_Not_Existing_Order_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Teams</name>
        <label>Create Order Teams</label>
        <locationX>957</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>Update_Order_Teams</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <inputReference>New_Order_Teams</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Order_Team</name>
        <label>Get Default Order Team</label>
        <locationX>710</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Default_Order_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </filters>
        <object>Default_Order_Team__c</object>
        <outputReference>Default_Order_Teams</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_Access__c</queriedFields>
        <queriedFields>Team_Member__c</queriedFields>
        <queriedFields>Team_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>457</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_Automated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Owner_Id</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Team</name>
        <label>Get Order Team</label>
        <locationX>833</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Default_Order_Teams</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order_Team__c</object>
        <outputReference>Order_Teams</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Member__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Setting</name>
        <label>Get User Setting</label>
        <locationX>276</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Default_Order_Team_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </filters>
        <object>User_Setting__c</object>
        <outputAssignments>
            <assignToReference>Is_Default_Order_Team_Enabled</assignToReference>
            <field>Enable_Default_Order_Team__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Teams</name>
        <label>Update Order Teams</label>
        <locationX>1174</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Assign_Result_Created_Default_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <inputReference>Existing_Order_Teams</inputReference>
    </recordUpdates>
    <start>
        <locationX>117</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Default_Order_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Default_Order_Team__c</objectType>
    </variables>
    <variables>
        <name>Existing_Order_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Team__c</objectType>
    </variables>
    <variables>
        <name>Is_Automated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Default_Order_Team_Enabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Existing_Order_Team</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Order_Team</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Team__c</objectType>
    </variables>
    <variables>
        <name>New_Order_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Team__c</objectType>
    </variables>
    <variables>
        <name>Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Team__c</objectType>
    </variables>
    <variables>
        <name>Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
