force-app/main/default/flows/Project_Add_Default_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Default_to_Existing_Project_Team</name>
        <label>Assign Default to Existing Project Team</label>
        <locationX>1489</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>Project_Team.Team_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Project_Team.Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Team.Project_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Project_Team.Project_Access__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Existing_Project_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Project_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Project_Teams</name>
        <label>Assign Existing Project Teams</label>
        <locationX>1283</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>Existing_Project_Teams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Project_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Existing_Project_Team</name>
        <label>Assign Is Existing Project Team</label>
        <locationX>1099</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Is_Existing_Project_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Project_Team</name>
        <label>Assign New Project Team</label>
        <locationX>824</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>New_Project_Team.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project_Team.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Project_Team.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project_Team.Project_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Project_Team.Project_Access__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project_Team.Team_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Project_Team.Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Project_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Project_Teams</name>
        <label>Assign New Project Teams</label>
        <locationX>636</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>New_Project_Teams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Project_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Default_Project_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result_Created_Default_Team</name>
        <label>Assign Result Created Default Team</label>
        <locationX>1156</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner’s default Project Team was added</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_Fault</name>
        <label>Assign Result Fault</label>
        <locationX>606</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_No_Default_Team</name>
        <label>Assign Result No Default Team</label>
        <locationX>483</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner does not have a default Project Team.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Default_Project_Team_Enabled</name>
        <label>Decision Default Project Team Enabled</label>
        <locationX>223</locationX>
        <locationY>435</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Default_Project_Team_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Default_Project_Team_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Project_Team</targetReference>
            </connector>
            <label>Outcome Default Project Team Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Default_Project_Team</name>
        <label>Decision Has Default Project Team</label>
        <locationX>476</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Result_No_Default_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Default_Project_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Default_Project_Teams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Team</targetReference>
            </connector>
            <label>Outcome Has Default Project Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Existing_Project_Team</name>
        <label>Decision Has Existing Project Team</label>
        <locationX>1480</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Loop_Project_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Existing_Project_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Team.Team_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Default_Project_Team.Team_Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_to_Existing_Project_Team</targetReference>
            </connector>
            <label>Outcome Has Existing Project Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Project_Team</name>
        <label>Decision Has Project Team</label>
        <locationX>933</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Project_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Project_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Teams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Existing_Project_Team</targetReference>
            </connector>
            <label>Outcome Has Project Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Automated</name>
        <label>Decision Is Automated</label>
        <locationX>222</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Project_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Is_Automated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Automated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Setting</targetReference>
            </connector>
            <label>Outcome Is Automated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Not_Existing_Project_Team</name>
        <label>Decision Is Not Existing Project Team</label>
        <locationX>1105</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Loop_Default_Project_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Is_Not_Existing_Project_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Existing_Project_Team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Project_Team</targetReference>
            </connector>
            <label>Outcome Is Not Existing Project Team</label>
        </rules>
    </decisions>
    <interviewLabel>Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Add Default Team</label>
    <loops>
        <name>Loop_Default_Project_Teams</name>
        <label>Loop Default Project Teams</label>
        <locationX>733</locationX>
        <locationY>287</locationY>
        <assignNextValueToReference>Default_Project_Team</assignNextValueToReference>
        <collectionReference>Default_Project_Teams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Has_Project_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Teams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Project_Teams</name>
        <label>Loop Project Teams</label>
        <locationX>1264</locationX>
        <locationY>295</locationY>
        <assignNextValueToReference>Project_Team</assignNextValueToReference>
        <collectionReference>Project_Teams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Has_Existing_Project_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Is_Not_Existing_Project_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Teams</name>
        <label>Create Project Teams</label>
        <locationX>731</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>Update_Project_Teams</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <inputReference>New_Project_Teams</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Project_Team</name>
        <label>Get Default Project Team</label>
        <locationX>484</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Default_Project_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </filters>
        <object>Default_Project_Team__c</object>
        <outputReference>Default_Project_Teams</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Member__c</queriedFields>
        <queriedFields>Project_Access__c</queriedFields>
        <queriedFields>Team_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>231</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_Automated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Id</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>Owner_Id</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Team</name>
        <label>Get Project Team</label>
        <locationX>607</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Default_Project_Teams</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Id</elementReference>
            </value>
        </filters>
        <object>Project_Team__c</object>
        <outputReference>Project_Teams</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Member__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Setting</name>
        <label>Get User Setting</label>
        <locationX>50</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Default_Project_Team_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </filters>
        <object>User_Setting__c</object>
        <outputAssignments>
            <assignToReference>Is_Default_Project_Team_Enabled</assignToReference>
            <field>Enable_Default_Project_Team__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Teams</name>
        <label>Update Project Teams</label>
        <locationX>948</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Assign_Result_Created_Default_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <inputReference>Existing_Project_Teams</inputReference>
    </recordUpdates>
    <start>
        <locationX>117</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Default_Project_Team</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Default_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Default_Project_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Default_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Existing_Project_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Is_Automated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Default_Project_Team_Enabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Existing_Project_Team</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Project_Team</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>New_Project_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project_Team</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Project_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
