force-app/main/default/flows/Project_Remove_All_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Result_Deleted_Project_Team</name>
        <label>Assign Result Deleted Project Team</label>
        <locationX>515</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Project Team members removed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_Fault</name>
        <label>Assign Result Fault</label>
        <locationX>381</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Result_No_Project_Team</name>
        <label>Assign Result No Project Team</label>
        <locationX>112</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is no Project Team to remove.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Has_Project_Team</name>
        <label>Decision Has Project Team</label>
        <locationX>251</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Assign_Result_No_Project_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Project_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Teams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Project_Teams</targetReference>
            </connector>
            <label>Outcome Has Project Team</label>
        </rules>
    </decisions>
    <interviewLabel>Project - Remove All Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Remove All Team Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Project_Teams</name>
        <label>Delete Project Teams</label>
        <locationX>514</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>Assign_Result_Deleted_Project_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <inputReference>Project_Teams</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Project_Team</name>
        <label>Get Project Team</label>
        <locationX>259</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Project_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Result_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Id</elementReference>
            </value>
        </filters>
        <object>Project_Team__c</object>
        <outputReference>Project_Teams</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Get_Project_Team</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Is_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project_Team</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Project_Teams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
