force-app/main/default/flows/Project_Follow_Up_Task_for_On_Hold_Stopped.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_On_Hold_Future_Date</name>
        <label>Add On Hold Future Date</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddOnHoldFutureDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stopped_Future_Date</name>
        <label>Add Stopped Future Date</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddStoppedFutureDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_On_Hold_or_Stopped</name>
        <label>Project On Hold?</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_Project_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_On_Hold_Future_Date</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Stopped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Stopped_Future_Date</targetReference>
            </connector>
            <label>Stopped</label>
        </rules>
    </decisions>
    <formulas>
        <name>AddOnHoldFutureDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>AddStoppedFutureDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>ProjectTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Follow up on &quot; + {!$Record.Name} + &quot; (&quot;+ {!$Record.Project_ID__c} +&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>TODAY_5</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <interviewLabel>Project - Follow Up Task for On Hold &amp; Stopped {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Follow Up Task for On Hold &amp; Stopped</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>314</locationX>
        <locationY>732</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processor__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ProjectTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>314</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>$Record.Follow_Up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_On_Hold_or_Stopped</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 3)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stopped</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_Until_Follow_Up_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-10-21</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
