force-app/main/default/flows/Quote_Update_Quote_Creator_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>599</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>QuotestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Update_QCreate_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_QCreate_Name</name>
        <label>Update QCreate Name</label>
        <locationX>597</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>QRecord.Quote_Creator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QCreator_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Existing_Quote</name>
        <label>Decision Existing Quote</label>
        <locationX>402</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuoteRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Update_QCreate_Name</targetReference>
            </connector>
            <label>List is not Empty?</label>
        </rules>
    </decisions>
    <interviewLabel>Quote - Update Quote Creator Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Update Quote Creator Name</label>
    <loops>
        <name>Loop_Update_QCreate_Name</name>
        <label>Loop Update QCreate Name</label>
        <locationX>598</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>QRecord</assignNextValueToReference>
        <collectionReference>getQuoteRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_QCreate_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getQuoteRecords</name>
        <label>getQuoteRecords</label>
        <locationX>202</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Existing_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Creator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QCreator_ERPID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote_Creator__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Quotes</name>
        <label>Update all Quotes</label>
        <locationX>814</locationX>
        <locationY>52</locationY>
        <inputReference>QuotestoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getQuoteRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QCreator_ERPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QCreator_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuotestoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
