force-app/main/default/flows/Task_Assign_Opportunity_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Active_Contact_Records</name>
        <label>Add Active Contact Records</label>
        <locationX>564</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>ActiveContactRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task_Who_Relation_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_OppContactRoleRecords</name>
        <label>Add to OppContactRoleRecords</label>
        <locationX>1296</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>OppContactRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ActiveContactRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Contact_Role</name>
        <label>Assign Opp Contact Role</label>
        <locationX>889</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>OppContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ActiveContactRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Contact_Role_Existing_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Checkbox</name>
        <label>Reset Checkbox</label>
        <locationX>885</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_OppContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Checkbox</name>
        <label>Set Checkbox</label>
        <locationX>1280</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Contact_Decision</name>
        <label>Active Contact Decision</label>
        <locationX>702</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Contact_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ActiveContactRecords</targetReference>
            </connector>
            <label>Active Contact is not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Decision</name>
        <label>Contact Decision</label>
        <locationX>386</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Loop_Task_Who_Relation_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact is Inactive?</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Active_Contact_Records</targetReference>
            </connector>
            <label>Contact is Active?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Decision</name>
        <label>Found Decision</label>
        <locationX>1090</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>Loop_ActiveContactRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicated</defaultConnectorLabel>
        <rules>
            <name>New_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_OppContactRoleRecords</targetReference>
            </connector>
            <label>New Contact Role?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Contact_Role_Existing_Decision</name>
        <label>Opp Contact Role Existing Decision</label>
        <locationX>879</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Add_to_OppContactRoleRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing OppConatctRole Empty</defaultConnectorLabel>
        <rules>
            <name>Opp_Contact_Role_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Contact_Role_Existing_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Checkbox</targetReference>
            </connector>
            <label>Opp Contact Role Existing?</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppContactRole_Duplicated_Decision</name>
        <label>OppContactRole Duplicated Decision</label>
        <locationX>1010</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_OppContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Duplicated</defaultConnectorLabel>
        <rules>
            <name>OppContactRole_Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_OppContactRole.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OppContactRole.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Checkbox</targetReference>
            </connector>
            <label>OppContactRole Duplicated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Who_Relation_Decision</name>
        <label>Task Who Relation Decision</label>
        <locationX>382</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Contact_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Who_Relation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Task_Who_Relation_1</targetReference>
            </connector>
            <label>Related Contact is not Empty?</label>
        </rules>
    </decisions>
    <interviewLabel>Task - Assign Opportunity Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Assign Opportunity Contact Role</label>
    <loops>
        <name>Loop_ActiveContactRecords</name>
        <label>Loop ActiveContactRecords</label>
        <locationX>892</locationX>
        <locationY>236</locationY>
        <collectionReference>ActiveContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_OppContactRoleRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_OppContactRole</name>
        <label>Loop Existing OppContactRole</label>
        <locationX>883</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Opp_Contact_Role_Existing_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OppContactRole_Duplicated_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Task_Who_Relation_1</name>
        <label>Loop Task Who Relation 1</label>
        <locationX>393</locationX>
        <locationY>530</locationY>
        <collectionReference>Get_Task_Who_Relation_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Active_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opp_Contact_Role_Existing_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_OppContactRoleRecords</name>
        <label>Insert OppContactRoleRecords</label>
        <locationX>1261</locationX>
        <locationY>223</locationY>
        <inputReference>OppContactRoleRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Contacts</name>
        <label>Get Active Contacts</label>
        <locationX>229</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Task_Who_Relation_1.RelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Contact_Role_Existing_Records</name>
        <label>Get Opp Contact Role Existing Records</label>
        <locationX>563</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Contact_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Who_Relation_Record</name>
        <label>Get Task Who Relation Record</label>
        <locationX>394</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Who_Relation_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TaskWhoRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelationId</queriedFields>
        <queriedFields>TaskId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>27</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Get_Task_Who_Relation_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OppContactRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
