force-app/main/default/flows/Vote_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>391</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vote.Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Save</name>
        <label>Decision Save</label>
        <locationX>375</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Decision_Vote_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input_has_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vote_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Vote</targetReference>
            </connector>
            <label>Input has Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Vote</name>
        <label>Decision Vote</label>
        <locationX>573</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Update_Vote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome Has Vote</defaultConnectorLabel>
        <rules>
            <name>Outcome_No_Vote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vote</targetReference>
            </connector>
            <label>Outcome No Vote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Vote_0</name>
        <label>Decision Vote</label>
        <locationX>379</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Assign_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome Has Vote</defaultConnectorLabel>
        <rules>
            <name>Outcome_No_Vote_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Outcome No Vote</label>
        </rules>
    </decisions>
    <formulas>
        <name>User_Id</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Vote - Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vote - Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Vote</name>
        <label>Create Vote</label>
        <locationX>832</locationX>
        <locationY>46</locationY>
        <inputAssignments>
            <field>Idea__c</field>
            <value>
                <elementReference>Idea_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Vote_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Vote__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Vote</name>
        <label>Get Vote</label>
        <locationX>231</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Save</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Idea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Idea_Id</elementReference>
            </value>
        </filters>
        <object>Vote__c</object>
        <outputReference>Vote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vote</name>
        <label>Update Vote</label>
        <locationX>581</locationX>
        <locationY>266</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Vote_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Vote__c</object>
    </recordUpdates>
    <startElementReference>Get_Vote</startElementReference>
    <status>Active</status>
    <variables>
        <name>Idea_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vote__c</objectType>
    </variables>
    <variables>
        <name>Vote_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
